/**
 * @file
 *   This file contains a sample library theming,
 *   mainly trying to reshape Views' exposed filters
 *   to something more suitable for such a tiny space.
 */
#scald-dnd-library-form .form-item {
  float: none;
  width: auto;
}
#scald-dnd-library-form .form-checkboxes {
  margin-top: 0;
}
#scald-dnd-library-form .form-checkboxes .form-item {
  display: inline;
  white-space: normal;
}
.dnd-library-wrapper {
  float: right;
  width: 25%;
}
.dnd-library-wrapper .header,
.dnd-library-wrapper .view-filters,
.dnd-library-wrapper .attachment-before {
  padding: 3px 4px;
  background-color: #ccc;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.dnd-library-wrapper .attachment-before {
  border-top-width: 0;
}

.dnd-library-wrapper .views-savedsearches-container fieldset {
  margin: 0;
}

.dnd-library-wrapper .views-exposed-form .form-item {
  width: auto;
}
.dnd-library-wrapper .view-filters, 
.dnd-library-wrapper .view-filters input,
.dnd-library-wrapper .view-filters select
.dnd-library-wrapper .view-filters textarea {
  font-size: .875em;
}
.dnd-library-wrapper .view-filters fieldset {
  padding: 0;
  border-width: 1px 0 0 0;
}
.dnd-library-wrapper .view-filters .date-views-filter-wrapper {
  min-width: 160px;
}
.dnd-library-wrapper .view-filters .views-exposed-widget {
  padding-right: 0;
}
.dnd-library-wrapper .view-filters .date-month .form-item select {
  margin-right: 0;
}
.dnd-library-wrapper .header h3, .mee-ressource-manager caption {
  font-size: 12px;
  font-weight: bold;
}
.dnd-library-wrapper .header form {
  font-size: 10px;
}
.dnd-library-wrapper .footer,
.dnd-library-wrapper .item-list .pager {
  margin: 0;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #ccc;
}
.dnd-library-wrapper .pager {
  font-weight: bold;
  padding: 0 5px;
}
.dnd-library-wrapper .library {
  border: 1px solid #aaa;
  float: left;
}
.dnd-library-wrapper .editor-item {
  border: 1px solid #aaa;
  border-bottom: 0;
  background-color: #eee;
  clear: left;
}
.dnd-library-wrapper .editor-item > div {
  padding: 3px;
}
.dnd-library-wrapper div.image {
  float: left;
  width: 48px;
  padding-left: 4px;
  line-height: 1;
}
.dnd-library-wrapper .title {
  font-weight: bold;
  font-size: 12px;
}
.dnd-library-wrapper .date, .dnd-library-wrapper .author {
  font-size: 10px;
}

.dnd-library-wrapper .author {
  margin-right: 1em;
}
.dnd-library-wrapper .editor-item .sizes {
  float: left;
  width: 50px;
  margin-top: 14px;
  line-height: 1;
}
.dnd-library-wrapper .editor-item .sizes ul {
  list-style-type: none;
  margin: 0;
}
.dnd-library-wrapper .editor-item .sizes ul li {
  background: none;
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0 0 0 2px;
}
.dnd-library-wrapper .editor-item .sizes a {
  float: left;
  display: block;
  font-size: 9px;
  line-height: 9px;
  margin-bottom: 2px;
  width: 19px;
  text-align: center;
}
.dnd-library-wrapper .editor-item .sizes a:link,
.dnd-library-wrapper .editor-item .sizes a:visited,
.dnd-library-wrapper .editor-item .sizes a:active {
  border: 1px solid #888;
  color: #fff;
  cursor: move;
  text-align: center;
}
.dnd-library-wrapper .editor-item .sizes a:hover,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted:link,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted:visited,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted:active {
  border: 1px solid #555;
  color: #fff;
  text-decoration: none;
}
.dnd-library-wrapper .editor-item .sizes a:hover span,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted span {
  background-color: #555;
}

.dnd-library-wrapper .editor-item .sizes a span {
  display: block;
  background-color: #888;
}
.dnd-library-wrapper .editor-item .sizes a.size-S span {
  margin: 3px;
  padding: 2px 0;
}
.dnd-library-wrapper .editor-item .sizes a.size-M span {
  margin: 2px;
  padding: 3px 0;
}
.dnd-library-wrapper .editor-item .sizes a.size-L span {
  margin: 1px;
  padding: 4px 0;
}
.dnd-library-wrapper .editor-item.dnd-child-inserted {
  background-color: #ccc;
}
.dnd-editor-preview h2.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.dnd-editor-preview .media-preview { 
  float: left;
  width: 125px;
}
.dnd-editor-preview .media-meta {
  float: left;
  width: 225px;
  margin-right: 20px;
}
.dnd-editor-preview .attribution {
  font-size: .875em;
  margin-bottom: .5em;
}
.sdl-preview-item dt {
  font-weight: bold;
}
.sdl-preview-item dd {
  margin-left: 1em;
}
.sdl-preview-item div.image {
  float: left;
}
/* Fix for Garland */
#center .dnd-library-wrapper form {
  margin: 0;
}

/**
 * Make the default textarea bigger
 */
.dnd-fields-wrapper .mceLayout, .dnd-fields-wrapper .mceLayout iframe {
  height: 60em !important;
}

/**
 * And hide the resizer
 */
.dnd-fields-wrapper .mceEditor .mceLayout .mceLast .mceResize {display: none;}

/**
 * Make the default textarea bigger
 */
.dnd-fields-wrapper .mceLayout, .dnd-fields-wrapper .mceLayout iframe {
  height: 60em !important;
}

/**
 * And hide the resizer
 */
.dnd-fields-wrapper .mceEditor .mceLayout .mceLast .mceResize {display: none;}

/**
 * Prototype for an always on right library
 */
.dnd-library-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
}

body {
  margin-right: 20px !important;
}
