/* This is bad stuff! */
.body-field-wrapper {
  float: left;
  width: 100%;
}
.dnd-library-wrapper {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-top: 1em;
}
.dnd-library-wrapper .header {
  padding: 1px 4px;
}
.dnd-library-wrapper .header h3 {
  font-size: 12px;
  font-weight: bold;
}
.dnd-library-wrapper .footer {
  float: left;
  width: 100%;
  border-top: 1px solid #aaa;
  background-color: #ccc;
}
.dnd-library-wrapper .pager {
  font-weight: bold;
  padding: 0 5px;
}
#edit-body-wrapper {
  float: left;
  width: 600px;
}
.dnd-library-wrapper .library {
  border: 1px solid #aaa;
  float: left;
}
.dnd-library-wrapper .editor-item {
  float: left;
  width: 250px;
  border-bottom: 2px solid #fff;
  background-color: #ddd;
}
.dnd-library-wrapper .editor-item > div {
  padding: 3px;
}
.dnd-library-wrapper div.image {
  float: left;
  width: 32px;
  padding-left: 4px;
  line-height: 1;
}
.dnd-library-wrapper div.meta {
  float: left;
  width: 149px;
  line-height: 1.2;
}
.dnd-library-wrapper .title {
  font-weight: bold;
  font-size: 12px;
}
.dnd-library-wrapper .date, .dnd-library-wrapper .author {
  font-size: 10px;
  float: left;
  margin-top: .5em;
}
.dnd-library-wrapper .author {
  margin-right: 1em;
}
.dnd-library-wrapper .editor-item .sizes {
  float: left;
  width: 50px;
  margin-top: 14px;
  line-height: 1;
}
.dnd-library-wrapper .editor-item .sizes ul {
  list-style-type: none;
  margin: 0;
}
.dnd-library-wrapper .editor-item .sizes ul li {
  background: none;
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0 0 0 2px;
}
.dnd-library-wrapper .editor-item .sizes a {
  float: left;
  display: block;
  font-size: 9px;
  line-height: 9px;
  margin-bottom: 2px;
  width: 19px;
  text-align: center;
}
.dnd-library-wrapper .editor-item .sizes a:link,
.dnd-library-wrapper .editor-item .sizes a:visited,
.dnd-library-wrapper .editor-item .sizes a:active {
  border: 1px solid #888;
  color: #fff;
  cursor: move;
  text-align: center;
}
.dnd-library-wrapper .editor-item .sizes a:hover,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted:link,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted:visited,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted:active {
  border: 1px solid #555;
  color: #fff;
  text-decoration: none;
}
.dnd-library-wrapper .editor-item .sizes a:hover span,
.dnd-library-wrapper .editor-item .sizes a.dnd-inserted span {
  background-color: #555;
}

.dnd-library-wrapper .editor-item .sizes a span {
  display: block;
  background-color: #888;
}
.dnd-library-wrapper .editor-item .sizes a.size-S span {
  margin: 3px;
  padding: 2px 0;
}
.dnd-library-wrapper .editor-item .sizes a.size-M span {
  margin: 2px;
  padding: 3px 0;
}
.dnd-library-wrapper .editor-item .sizes a.size-L span {
  margin: 1px;
  padding: 4px 0;
}
.dnd-library-wrapper .editor-item.dnd-child-inserted {
  background-color: #ccc;
}
.dnd-editor-preview h2.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.dnd-editor-preview .media-preview { 
  float: left;
  width: 125px;
}

.dnd-editor-preview .media-meta {
  float: left;
  width: 225px;
  margin-right: 20px;
}

.dnd-editor-preview .attribution {
  font-size: .875em;
  margin-bottom: .5em;
}
